// .page 
// {
//     width: 50%;
//     max-width: 1000px;
// }
// .card-item
// {
//     width: 100% !important;
// }
// 滾動條
// ::-webkit-scrollbar {
//     width: 1rem;
//     height: .5rem;
// }


//*
// 覆蓋主題樣式 Start
.single {
    .content {
        // 文字區塊
        p {
            // line-height: 1.5;
            margin: 1rem 0;
        }

        // 引用區塊
        blockquote {
            p {
                margin: 0.5rem 0 !important;
            }
        }
        
        // 友情連結區塊
        .friend-link-info p {
            margin: 0 !important;
        }
    }

    // Tag前連結文字
    .content {
        >h2 {
            .header-mark::before {
                content: "#";
            }
        }
    }
}

/* 標題 */
.page.single h2:not(.related-container h2) {
    box-shadow: rgb(95, 90, 75) 0px 0px 0px 1px, rgba(10, 10, 0, 0.5) 1px 1px 6px 1px;
    color: rgb(255, 255, 255);
    font-family: 微軟雅黑, 宋體, 黑體, Arial;
    font-weight: bold;
    line-height: 1.3;
    text-shadow: rgb(34, 34, 34) 2px 2px 3px;
    background: rgb(43, 102, 149);
    border-radius: 6px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 7px;
    margin: 18px 0px 18px -5px !important;
  }

// 行內程式碼塊
code {
    margin: 0 .2rem;
    font-size: .9em;
    border: 1px solid #d6d6d6;
    border-radius: .2rem;
    color: #e5bf78 !important;
  }
  
  // 預格式程式碼塊(用tab鍵插入的程式碼塊)
  pre code {
    margin: 0;
    border: none;
    font-size: .875rem;
  }
  
  // 標題裡的程式碼塊樣式
  .page.single .content>h2 code {
    color: #f7ab01 !important;
    background: transparent !important;
    border: none;
  }

// 分隔線
hr {
    border: none;
    border-bottom: 2px dashed #7a7a7a !important;
  }

/* 圖片 */
figcaption {
    display: none !important;
  }
  
//*/